.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #c9ced1;
    text-align: right;
}

.menu>li {
    display: inline;
    margin-right: 15px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}